- tab_class = "active" if @user.has_pages? == false

%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to "Users", users_path
  %li.inactive
    = @user.handle

  - if current_user && current_user.id == @user.id
    %li
      = link_to "Edit Account", edit_user_registration_path(@user)

%ul{:role => "tablist", :class => "nav nav-tabs", :style => "margin-top:2em;"}
  - if @user.has_pages?
    %li{:role => "presentation", :class => "active"}
      %a{:href => "#user_pages", :role => "tab", "data-toggle" => "tab"}
        Owned Pages
  %li{:role => "presentation", :class => "#{tab_class}"}
    %a{:href => "#flagged_pages", :role => "tab", "data-toggle" => "tab"}
      Flagged Pages 

%div.tab-content
  - if @user.has_pages?
    %div{:id => "user_pages", :role => "tabpanel", :class => "tab-pane active"}
      = render :partial => "pages/pages_table", :locals => {:pages => @user_pages, :owner => "false"}

  %div{:id => "flagged_pages", :role => "tabpanel", :class => "tab-pane #{tab_class}"}
    - if @voted_pages.size > 0 
      = render :partial => "pages/pages_table", :locals => {:pages => @voted_pages}
    - else
      %div.text-primary.bg-info{:style => "padding:1em;margin:1em;"}
        = "#{@user.handle} hasn't flagged any pages."

= render :partial => "pages/table_js.js.haml"
