%ol.breadcrumb
  %li 
    = link_to "Home", root_path
  %li
    = link_to @page.project.display_name, project_path(@page.project)
  %li
    = link_to @page.version.version_number, project_version_path(:id => @page.version.id, :project_id => @page.project.id)
  %li.active
    = @page.filename.gsub(/^\//, "")
    %a{:href => @page.github_url}
      = fa_icon "github"