%div.modal.fade{:id => "commentModal", :role => "dialog"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss" => "modal"}
          &times;
        %h4.modal-title
          %span.glyphicon.glyphicon-comment &nbsp;
          Leave a Comment
        %p.small
          Feel free to use a little Markdown. Not too much.
      %div.modal-body
        = simple_form_for [@page.comments.new], :remote => true do  |f|
          = f.input :content, label: false, :input_html => {:rows => 10}
          = f.hidden_field :user_id, :value => current_user.id
          = f.hidden_field :page_id, :value => @page.id
          = f.button :submit, "Add Comment", :html => {"data-dismiss" => "modal"}, :class => "btn btn-primary"
        %br
        //= render "page_comments"
        %div.modal-footer
