- if current_user
  %div.modal.fade{:id => "commentModal", :role => "dialog"}
    %div.modal-dialog{:role => "document"}
      %div.modal-content
        %div.modal-header
          %button.close{"data-dismiss" => "modal"}
            &times;
          %h4.modal-title
            %span.glyphicon.glyphicon-comment &nbsp;
            Leave a Comment
          %p.small
            Feel free to use a little Markdown. Not too much. Select text before commenting to include the selection in your comment.
        %div.modal-body
          = form_for @page.comments.new, :remote => true do  |f|
            = f.text_area :content, label: false, :rows => 10, :autofocus => "autofocus", :id => "new_comment_text", :class => "form-control"
            = f.hidden_field :user_id, :value => current_user.id
            = f.hidden_field :page_id, :value => @page.id
            %br
            = submit_tag "Add Comment", :input_html => {"data-dismiss" => "modal"}, :class => "btn btn-primary" 
          %br
          //= render "page_comments"
          %div.modal-footer
  

