%div.panel-group{:id => "accordion", :role => "tablist", :style => "padding-top:2em"}
  - @page.elements.each do |element|
    - next if element.kind == "ul" 
    %div.panel.panel-default
      %div.panel-heading{:role => "tab", :id => "element_#{element.id}_head"}
        %h4.panel-title
          %a{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#collapse_#{element.id}"}
            = "#{element.kind_name}: #{element.nearest_heading}"
            - if element.others.size > 0 
              = "(#{element.others.size})"
      %div{:id => "collapse_#{element.id}", :role => "tabpanel", :class => "panel-collapse collapse"}
        %div.panel-body
          != element.content
          - if element.others.size > 0
            %div.panel-body
              %h5 Also Found On:
              %ul 
              - element.others.each do |other|
                %li
                  = link_to (other.page) do 
                    = "#{other.page.title} (#{other.page.project.display_name} #{other.page.version.version_number})"
