%div{:style => "margin-top:1em;"}
  - @recent_git.each do |l|
    .bs-callout.bs-callout-primary
      %h4
        %a{:href => "#{repo.uri}/commit/#{l.sha}" }
          = l.message.gsub(/\n.*/, "")
      %p.small.text-muted
        = "#{l.author.name} on #{l.author.date.strftime("%Y-%m-%d")}"
      %p
        = l.message[/\n.*/mi]
    
