%div{:style => "margin-top:1em;"}
  = fa_icon "github-alt"
  = link_to "See this page on GitHub", @page.github_url

%div{:style => "margin-top:1em;"}
  - @recent_git.each do |l|
    .bs-callout.bs-callout-primary
      %h4
        %a{:href => "#{@page.version.source_repo}/commit/#{l.sha}" }
          = l.message.gsub(/\n.*/, "")
      %p.small.text-muted
        = "#{l.author.name} on #{l.author.date.strftime("%Y-%m-%d")}"
      %p
        = l.message[/\n.*/mi]
    
