- if @page.comments.size > 0
  - @page.comments.each do |c|
    .panel.small.panel-default
      .panel-heading
        %b
          Comment by
          = c.user.handle
      .panel-body
        != c.rendered_content
      .panel-footer.small
        Posted
        = c.created_at.strftime('%Y-%m-%d at %I:%M %p')
        %br
        %br

        - if current_user
          - if c.user_id == current_user.id
            = render :partial => "pages/comment_edit_modal", :locals => {:this_comment => c}
            %button.btn.btn-primary.btn-xs{:id => "comment_edit_button_#{c.id}", "data-toggle" => "modal", "data-target" => "#comment_edit_#{c.id}"}
              Edit
          - if c.user_id == current_user.id || current_user.try(:admin?)
            = link_to 'Delete', pages_delete_comment_path(:id => c.id, :page => @page.id), :method => :post, :remote => true, :class => 'btn btn-danger btn-xs pull-right'
            %br
            %br
  
        

  
