- case p.risk
- when 3
  - risk_class = "high_risk"
- else
  - risk_class = "low_risk"

- if p.get_upvotes.size > 0
  - flag_class = "flagged"
- else
  - flag_class = "unflagged"

%tr{:class => "#{flag_class} #{risk_class}", :id => "page_row_#{p.id}"}
  %td
    %div{:id => "risk-button-#{p.id}"}
      = render :partial => "pages/risk_button", :locals => {:page_id => p.id}
  %td
    = link_to  (p) do
      = raw "#{p.version.version_number} &raquo; #{p.title}"
    - if current_user && current_user.voted_up_on?(p)
      %span.glyphicon.glyphicon-flag.text-danger
    - elsif p.get_upvotes.size > 0
      %span.glyphicon.glyphicon-flag.text-muted
    - if p.comments.size > 0
      %span.glyphicon.glyphicon-comment.text-primary
  %td.small.text-muted
    - p.tag_list.each do |t|
      %a.btn.btn-xs.btn-default.text-muted{:href => "/tags/#{t}"}
        = t
