%tr{:id => "page_row_#{p.id}"}
  %td{"data-value" => p.risk, :id => "td_risk_#{p.id}"}
    %div{:id => "risk-button-#{p.id}"}
      = render :partial => "pages/risk_button", :locals => {:page_id => p.id}
  %td{"data-value" => p.priority, :id => "td_priority_#{p.id}"}
    %div{:id => "priority-button-#{p.id}"}
      = render :partial => "pages/priority_button", :locals => {:page_id => p.id}
  %td
    = link_to (p) do
      = p.title
    - if current_user && current_user.voted_up_on?(p)
      %span.glyphicon.glyphicon-flag.text-danger{"data-toggle" => "tooltip", "data-placement" => "top", :title => "You flagged this page."}
      &nbsp;
    - elsif p.get_upvotes.size > 0
      %span.glyphicon.glyphicon-flag.text-muted{"data-toggle" => "tooltip", "data-placement" => "top", :title => "Some else flagged this page."}
      &nbsp;
    - if p.comments.size > 0
      %span.glyphicon.glyphicon-comment.text-primary{"data-toggle" => "tooltip", "data-placement" => "top", :title => "This page has comments."}
  %td
    - p.tag_list.each do |t|
      %a.btn.btn-xs.btn-default.text-muted{:href => "/tags/#{t}"}
        = t
