%tr{:id => "page_row_#{page.id}", "data-risk" => page.risk, "data-priority" => page.priority}

  %td{"data-value" => page.priority, :id => "td_priority_#{page.id}"}
    %div{:id => "priority-button-#{page.id}"}
      = render :partial => "pages/priority_button", :locals => {:page_id => page.id}

  %td{"data-value" => page.risk, :id => "td_risk_#{page.id}"}
    %div{:id => "risk-button-#{page.id}"}
      = render :partial => "pages/risk_button", :locals => {:page_id => page.id}
  
    %td
      - if page.file_exists == false
        %span.text-danger.glyphicon.glyphicon-alert{"data-toggle" => "tooltip", "data-placement" => "top", :title => "This page appears to have been removed."}
        &nbsp;
              
      = link_to (page) do
        = page.title
        %span.text-muted
          = "(#{page.version.version_number})"
      - if page.commented?
        %span.glyphicon.glyphicon-comment.text-primary{"data-toggle" => "tooltip", "data-placement" => "top", :title => "This page has comments."}
    %td
      - page.tag_list.each do |t|
        %a.btn.btn-xs.btn-default.text-muted{:href => "/tags/#{t}"}
          = t
