-# takes the local "page" 
-# page ||= @page

%tr{:id => "page_row_#{page.id}", "data-risk" => page.risk, "data-priority" => page.priority}

  %td{"data-value" => page.priority, :id => "td_priority_#{page.id}"}
    %div{:id => "priority-button-#{page.id}"}
      = render :partial => "pages/priority_button", :locals => {:page_id => page.id}

  %td{"data-value" => page.risk, :id => "td_risk_#{page.id}"}
    %div{:id => "risk-button-#{page.id}"}
      = render :partial => "pages/risk_button", :locals => {:page_id => page.id}
  
  %td
    = link_to (page) do
      = page.title
    - if current_user && current_user.voted_up_on?(page)
      %span.glyphicon.glyphicon-flag.text-danger{"data-toggle" => "tooltip", "data-placement" => "top", :title => "You flagged this page."}
      &nbsp;
    - elsif page.get_upvotes.size > 0
      %span.glyphicon.glyphicon-flag.text-muted{"data-toggle" => "tooltip", "data-placement" => "top", :title => "Some else flagged this page."}
      &nbsp;
    - if page.commented?
      %span.glyphicon.glyphicon-comment.text-primary{"data-toggle" => "tooltip", "data-placement" => "top", :title => "This page has comments."}
  %td
    - page.tag_list.each do |t|
      %a.btn.btn-xs.btn-default.text-muted{:href => "/tags/#{t}"}
        = t
