.btn-group.btn-group-xs
  - unless @page.previous_page.nil?
    = link_to page_path(@page.previous_page), :class => "btn btn-primary" do
      %span.glyphicon.glyphicon-step-backward
      &nbsp;  
  %button.btn.btn-primary.btn-sm{:id => "composition_button", "data-toggle" => "tooltip", "data-placement" => "top", :title => "Toggle all but ordered lists and pre/code blocks" }
    &nbsp;  
    %span{:id => "content-button", :class => "glyphicon glyphicon-eye-close"}
    &nbsp;    
  - unless @page.next_page.nil?
    &nbsp;  
    = link_to page_path(@page.next_page), :class => "btn btn-sm btn-primary" do
      &nbsp;  
      %span.glyphicon.glyphicon-step-forward

.btn-group
  %div{:id => "priority-button-#{@page.id}"}
    = render :partial => "priority_button", :locals => {:page_id => @page.id}
.btn-group
  %div{:id => "risk-button-#{@page.id}"}
    = render :partial => "risk_button", :locals => {:page_id => @page.id}
.btn-group        
  %div{:style => "float:left;width:auto;margin-left:.5em;", :id => 'flag_toggle'}      
    = render :partial => "page_votes"
.btn-group
  %div{:style => "float:left;width:auto;margin-left:.5em;", :id => 'own_button'}
    = render :partial => "page_owner_button"
- if current_user 
  .btn-group
    %div{:style => "float:left;width:auto;margin-left:.5em;", :id => 'jira_button'}
      = render :partial => "jira_button"
