- @title = @page.title

%h4= @page.title.gsub(/— Documentation — Puppet Labs/, "")


%p.small.text-muted
  - if @page.get_upvotes.size > 0  
    = "This page has been flagged by #{page_voters(@page)}."
  - else
    Nobody has flagged this page.
  - if @page.comments.count > 0
    = "This page has #{@page.comments.count} comments."
    
.btn-group.btn-group-sm
  %a{:href => "/pages/#{@page.previous_page.id}", :class => "btn btn-primary"}
    %span.glyphicon.glyphicon-step-backward
    Previous Page
  %button.btn.btn-primary.button-content{:id => "composition_button", "data-toggle" => "tooltip", "data-placement" => "top", :title => "Toggle all but ordered lists and pre/code blocks" }
    %span{:id => "content-button", :class => "glyphicon glyphicon-eye-close"}
  %a{:href => "/pages/#{@page.next_page.id}", :class => "btn btn-primary"}
    Next Page
    %span.glyphicon.glyphicon-step-forward

%div{:id => "imported_content"}
  != @page.content


:javascript
  $(function() {
  $("#composition_button").click( function()
  {
   var hide_elements=['blockquote','ul','dl','p','iframe','.toc','table'];
   for (var i = 0; i < hide_elements.length; i++) {
     $('#imported_content').find(hide_elements[i]).toggle();
     $('#imported_content').find('ol p').toggle();
    }

  $('#composition_button').toggleClass("button-content").toggleClass("button-uncontent");  
  $('#composition_button').toggleClass("btn-primary").toggleClass("btn-warning");
  $('#content-button').toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open');
       }
    );
  });
  

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  });



%div.modal.fade{:id => "commentModal", :role => "dialog"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss" => "modal"}
          &times;
        %h4.modal-title
          Leave a Comment
        %p.small
          Feel free to use a little Markdown. Not too much.
      %div.modal-body
        = simple_form_for [@page.comments.new] do  |f|
          = f.input :content, label: false, :input_html => {:rows => 10}
          = f.hidden_field :user_id, :value => current_user.id
          = f.hidden_field :page_id, :value => @page.id
          = f.button :submit, "Add Comment", :html => {"data-dismiss" => "modal"}, :class => "btn btn-primary"
        %br
        = render "page_comments"
        %div.modal-footer


