- @title = @page.title

%h1= @page.title
%br
  %strong List, figure and code elements on page:
  = @page.elements.count
%br

%div.btngroup
  %button.btn.btn-success{:onclick => "decompose()"}
    Decompose    
  %button.btn{:onclick => "recompose()"}
    Recompose    
  %button.btn{:onclick => "hide_toc()"}
    Hide ToC
  %button.btn{:onclick => "heads_only()"}
    Heads Only
  %button.btn{:onclick => "highlight_pres()"}
    Highlight Pres

  
%br
    
%ul{:class => "nav nav-tabs"}
  %li{:class => "active"}
    %a{:href => "#page-content", "data-toggle" => "tab"}
      Content
  %li
    %a{:href => "#page-elements", "data-toggle" => "tab"}
      Elements
  %li
    %a{:href => "#page-ignored", "data-toggle" => "tab"}
      Ignored Elements

      
%div{:class => "tab-content", :id => "tab-content"}
  %div{:class => "tab-pane active"}
    %div{:id => "page-content"}
      != @page.content
  %div{:class => "tab-pane", :id => "page-elements"}
    - @page.elements.each do |e|
      %div{:id => e.checksum}
        - cousins = Element.where("checksum = ?", e.checksum)
        - if cousins.count > 1
          %strong
            = "This element appears #{cousins.count} times in the docs."
            %a{:href => "/element/#{e.checksum}"}
              (See where)
            %br
            
        %div.well
          != e.content
    
          %br{:style => "clear:all;"}
        %br
        %hr          

  %div{:class => "tab-pane", :id => "page-ignored"}


:css
  .highlight_pre{border:5px dashed red;}
:javascript
  $(function () {
    $('#myTab a:last').tab('show');
  })

  function highlight_pres() {
   $('body pre').addClass('highlight_pre');
   };

  function decompose() {
    var hide_elements=['p','blockquote'];
    var show_elements=['h1','h2','h3','h4','pre','ol'];
    $('#page-content ' + hide_elements).hide();
    $('.toc').hide();
    $('#tab-content li').children().show();
    $('body ul.nav').show();

  };

  function recompose() {
    var hide_elements=['p','ul'];
    var show_elements=['h1','h2','h3','h4','pre','ol','h2','h3'];
    $('#tab-content ' + hide_elements).show();
    $('#tab-content ' + show_elements).show();
  };

  function hide_toc() {
    $('div.primary-content .toc').hide();
  };

  function heads_only() {
  var hide_elements=['p', 'blockquote', 'ol', 'ul', 'pre'];
  var show_elements=['h1','h2','h3','h4', 'h5']

  $('#tab-content ' + hide_elements).hide();
  $('#tab-content ' + show_elements).show();
  $('body ul.nav').show();
  };


