- @title = @page.title

.col-md-8
  #breadcrumbs
    = render "breadcrumb"

  - unless @page.file_exists
    #missing_page
      = render "missing_page"
      
  %h4= @page.title
  #page_owner
    = render "page_owner"
  #page_tags
    = render "page_tags"
  #page_tools
    = render "page_tools"

  %ul{:role => "tablist", :class => "nav nav-tabs", :style => "margin-top:2em;"}
    %li{:role => "presentation", :class => "active"}
      %a{:href => "#imported_content", :role => "tab", "data-toggle" => "tab"}
        Content
    - if @page.elements.count > 0 
      %li{:role => "presentation" }
        %a{:href => "#elements", :role => "tab", "data-toggle" => "tab"}
          Elements
    - if @matching_pages.size > 0
      %li{:role => "presentation" }
        %a{:href => "#matching", :role => "tab", "data-toggle" => "tab"}
          Matching Files
    %li{:role => "presentation" }
      %a{:href => "#history", :role => "tab", "data-toggle" => "tab"}
        History

  %div.tab-content
    %div.tab-pane.active{:id => "imported_content", :style => "padding-top:2em;"}
      != @page.content

    - if @page.elements.count > 0   
      %div.tab-pane{:id => "elements", :role => "tabpanel"}
        = render "elements_panel"

    - if @matching_pages.size > 0
      %div.tab-pane{:id => "matching", :role => "tabpanel"}
        = render "matching_pages"

    %div.tab-pane{:id => "history", :role => "tabpanel"}  
      = render :partial => "history_panel", :locals => {:repo => @page.version.repo}

#page_comments.col-md-3.col-md-offset-1
  = render "page_comments"
#comment_modal
  = render "comment_modal"
#tags_modal
  = render "tags_modal"

  
:javascript
  

  $(function() {
  $("#composition_button").click( function()
  {
   var hide_elements=['blockquote','ul','dl','p','iframe','.toc','table'];
   for (var i = 0; i < hide_elements.length; i++) {
     $('#imported_content').find(hide_elements[i]).toggle();
     $('#imported_content').find('ol p').toggle();
    }


  $('#content-button').toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open');
       }
    );
  });
  

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  });




