- @title = @page.title

.col-md-8
  #breadcrumbs
    = render "breadcrumb"

  %h4= @page.title

  #page_flaggers
    = render "page_flaggers"
  #page_tags
    = render "page_tags"
  #page_tools
    = render "page_tools"

  %div{:id => "imported_content", :style => "margin-top:2em;"}
    != @page.content

#page_comments.col-md-3.col-md-offset-1
  = render "page_comments"

:javascript
  $(document).ready(function() {
    $("#tagsModal").on('shown', function() {
        $(this).find("[autofocus]:first").focus();
    });
  });

  $(function() {
  $("#composition_button").click( function()
  {
   var hide_elements=['blockquote','ul','dl','p','iframe','.toc','table'];
   for (var i = 0; i < hide_elements.length; i++) {
     $('#imported_content').find(hide_elements[i]).toggle();
     $('#imported_content').find('ol p').toggle();
    }

  $('#composition_button').toggleClass("button-content").toggleClass("button-uncontent");  
  $('#composition_button').toggleClass("btn-primary").toggleClass("btn-warning");
  $('#content-button').toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open');
       }
    );
  });
  

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  });

  $("div.panel-footer").hover(		
    function () {		
      $('div.comment_remove').toggle();
    }, function () {		
      $('div.comment_remove').toggle();
  }		
  );		

		
  $("ol").hover(		
    function () {		
      $(this).addClass('bg-info');		
    }, function () {		
      $(this).removeClass('bg-info');		
  }		
  );		

  $("pre").click(
    function () {
      var myHtml = $(this).outerHTML();
      alert(myHtml);
      var myHash = $.md5(myHtml);
      //$(this).wrap("<div style='border:5px dashed red;'></div>");
      alert(myHash);
      alert(CryptoJS.MD5(myHtml));
    }
   );

#comment_modal
  = render "comment_modal"
#tags_modal
  = render "tags_modal"



