- @title = @page.title

.col-md-8
  #breadcrumbs
    = render "breadcrumb"


  %h4= @page.title

  #page_tags
    = render "page_tags"
  #page_tools
    = render "page_tools"

  - if @page.private? &&  current_user.try(:admin?)
    %div.bg-warning{:style => "margin-top:1em; padding:.5em;"}
      This page is from the development version of the docs. Use the content refresh button
      if you think it's out of date.

  %ul{:role => "tablist", :class => "nav nav-tabs", :style => "margin-top:2em;"}
    %li{:role => "presentation", :class => "active"}
      %a{:href => "#imported_content", :role => "tab", "data-toggle" => "tab"}
        Content
    %li{:role => "presentation" }
      %a{:href => "#elements", :role => "tab", "data-toggle" => "tab"}
        Elements

  %div.tab-content
    %div.tab-pane.active{:id => "imported_content", :style => "padding-top:2em;"}

      != @page.content

    %div.tab-pane{:id => "elements", :role => "tabpanel"}

      %div.panel-group{:id => "accordion", :role => "tablist", :style => "padding-top:2em"}
        - panels = 0 
        - @page.elements.each do |e|
          - next if e.kind == "ul" || e.kind == "img"
          - panel_class = "in" if panels == 0       
          - a_class = "collapsed" if panels > 0 
          %div.panel.panel-default
            %div.panel-heading{:role => "tab", :id => "element_#{e.id}_head"}
              %h4.panel-title
                %a{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#collapse_#{e.id}", :class => a_class}
                  = "#{e.kind_name}: #{e.nearest_heading}"
                  - if e.others.size > 0 
                    = "(#{e.others.size})"
            %div{:id => "collapse_#{e.id}", :role => "tabpanel", :class => "panel-collapse collapse #{panel_class}"}
              %div.panel-body
                != e.content
              - if e.others.size > 0
                %div.panel-body
                  %h5 Also Found On:
                  %ul 
                  - e.others.each do |o|
                    %li
                      = link_to (o.page) do 
                        = "#{o.page.title} (#{o.page.project.nice_name} #{o.page.version.version_number})"

          - panels +=1
  
#page_comments.col-md-3.col-md-offset-1
  = render "page_comments"

#comment_modal
  = render "comment_modal"
#tags_modal
  = render "tags_modal"

:javascript
  

  $(function() {
  $("#composition_button").click( function()
  {
   var hide_elements=['blockquote','ul','dl','p','iframe','.toc','table'];
   for (var i = 0; i < hide_elements.length; i++) {
     $('#imported_content').find(hide_elements[i]).toggle();
     $('#imported_content').find('ol p').toggle();
    }


  $('#content-button').toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open');
       }
    );
  });
  

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  });




