- @title = @page.title

.col-md-8
  #breadcrumbs
    = render "breadcrumb"

  %h4= @page.title
  #page_owner
    = render "page_owner"
  #page_tags
    = render "page_tags"
  #page_tools
    = render "page_tools"

  - if @page.private? && current_user.try(:admin?)
    %div.bg-warning{:style => "margin-top:1em; padding:.5em;"}
      This page is from the development version of the docs. Use the content refresh button
      if you think it's out of date.

  %ul{:role => "tablist", :class => "nav nav-tabs", :style => "margin-top:2em;"}
    %li{:role => "presentation", :class => "active"}
      %a{:href => "#imported_content", :role => "tab", "data-toggle" => "tab"}
        Content
    %li{:role => "presentation" }
      %a{:href => "#elements", :role => "tab", "data-toggle" => "tab"}
        Elements
    %li{:role => "presentation" }
      %a{:href => "#metadata", :role => "tab", "data-toggle" => "tab"}
        Metadata

  %div.tab-content
    %div.tab-pane.active{:id => "imported_content", :style => "padding-top:2em;"}
      != @page.content

    %div.tab-pane{:id => "elements", :role => "tabpanel"}
      %div.panel-group{:id => "accordion", :role => "tablist", :style => "padding-top:2em"}
        = render "page_elements"

    %div.tab-pane{:id => "metadata", :role => "tabpanel" }
      = render "page_metadata"

#page_comments.col-md-3.col-md-offset-1
  = render "page_comments"
#comment_modal
  = render "comment_modal"
#tags_modal
  = render "tags_modal"

:javascript
  

  $(function() {
  $("#composition_button").click( function()
  {
   var hide_elements=['blockquote','ul','dl','p','iframe','.toc','table'];
   for (var i = 0; i < hide_elements.length; i++) {
     $('#imported_content').find(hide_elements[i]).toggle();
     $('#imported_content').find('ol p').toggle();
    }


  $('#content-button').toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open');
       }
    );
  });
  

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  });




