- @title = @page.title

.col-md-8
  #breadcrumbs
    = render "breadcrumb"


  %h4= @page.title

  #page_tags
    = render "page_tags"
  #page_tools
    = render "page_tools"

  - if @page.private? &&  current_user.try(:admin?)
    %div.bg-warning{:style => "margin-top:1em; padding:.5em;"}
      This page is from the development version of the docs. Use the content refresh button
      if you think it's out of date.

    
  %div{:id => "imported_content", :style => "margin-top:2em;"}
    != @page.content

#page_comments.col-md-3.col-md-offset-1
  = render "page_comments"

:javascript
  $(function() {
  $("#composition_button").click( function()
  {
   var hide_elements=['blockquote','ul','dl','p','iframe','.toc','table'];
   for (var i = 0; i < hide_elements.length; i++) {
     $('#imported_content').find(hide_elements[i]).toggle();
     $('#imported_content').find('ol p').toggle();
    }


  $('#content-button').toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open');
       }
    );
  });
  

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  });

#comment_modal
  = render "comment_modal"
#tags_modal
  = render "tags_modal"



