$("#risk-button-#{id}").html("#{j render(:partial => 'pages/risk_button', :locals => {:page_id => id})}");
$("#td_risk_#{id}").attr("data-value", "#{risk}");
$("#risk-button-#{id}").effect("bounce",500);
