%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to "Projects", projects_path
  %li.active
    = @project.display_name

%table.table
  %thead
    %tr
      %th
        Version
      %th
        Active?
      %th
        Total Pages
      %th
        High Priority Pages
      %th
        High Risk Pages
      - if current_user.try(:admin?)
        %th

  %tbody

    - @versions.each do |v|
      %tr
        %td
          = link_to project_version_path(v.project, v) do
            = "#{@project.display_name} #{v.version_number}"
        %td
          - if v.active?
            %span.glyphicon.glyphicon-ok.text-success
          - else
            %span.glyphicon.glyphicon-remove.text-danger
        %td
          = v.pages.count
        %td
          = v.high_priority_pages
        %td
          = v.high_risk_pages
        - if current_user.try(:admin?)
          %td
            = link_to edit_project_version_path(:id => v.id, :project_id => v.project.id) do
              %button.btn.btn-danger.btn-xs
                Edit
          
          
