%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li.active
    = @project.nice_name
    
%ul
  - @project.versions.each do |v|
    %li
      = link_to project_version_path(:id => v.id, :project_id => @project.id) do
        = "#{@project.nice_name} #{v.version_number}"

