%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to @version.project.nice_name, project_path(@version.project)
  %li.active
    = @version.version_number

= render :partial => "pages/pages_table", :locals => {:pages => pages}
= render :partial => "pages/table_js.js.haml"
