%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to "Priority Areas", areas_path
  %li.active
    = @area.name

%h2
  = @area.name
  = support_indicator(@area)

- if @area.users.count > 0 
  %p.text-muted
    %span.glyphicon.glyphicon-user
    != @area.users.collect {|user| link_to user.handle, user}.to_sentence
  
!= @area.rendered_description
  
.col-md-4
  %h4
    = "Other #{@area.priority_narrative} Priorities"
  %ul.list-unstyled
    - Area.priority(@area.priority).each do |a|
      %li
        = link_to a.name, a
    
.col-md-4
  %h4
    = "Other Areas #{@area.support_narrative}"
  %ul.list-unstyled
    - Area.status(@area.support_status).each do |a|
      %li
        = link_to a.name, a

- unless @area.burden == 0 
  .col-md-4
    %h4
      = "Similar Support Required"
    %ul.list-unstyled
      - Area.cost(@area.burden).each do |a|
        %li
          = link_to a.name, a
